<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <section id="makeKit">
    <form id="kitForm" name="kitForm" action="/maker" method="POST" class="domoForm">
      <label for="name">Name: </label>
      <input id="kitName" type="text" name="name" placeholder="Kit Name"/>
      <label for="description">Description: </label>
      <textarea id="kitDescription" type="text" name="description"></textarea>
      <label for="startTimePeriod">Time Period: </label>
      <input id="kitStartTimePeriod" type="text" name="startTimePeriod" placeholder="Start Date"/>
      <input id="kitEndTimePeriod" type="text" name="endTimePeriod" placeholder="End Date"/>
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input class="makeDomoSubmit" type="submit" value="Make Kit" />
    </form>
  </section>
  <section id="domos">
    <div class="domo">
      {{#if kits}}
        {{#each kits}}
          <div class="domo">
            <h3 class="domoName">Name: {{this.name}}</h3>
            {{#if this.description}}<h3>Description: {{this.description}}</h3>{{/if}}
            <h3>Kit Items: {{this.age}}</h3>
            {{#if this.kitItems}}
              {{#each this.kitItems}}
                <h3>You've got a kit item</h3>
              {{/each}}
            {{/if}}
            {{#if this.startTimePeriod}}<h3>Time Period: {{this.startTimePeriod}} {{#if this.endTimePeriod}} - {{this.endTimePeriod}} {{/if}}</h3> {{/if}}
            {{#if this.image}}<img url={{this.image}} alt="My cool pic"></img>{{/if}}
          </div>
        {{/each}}
      {{else}}
        <h3 class="emptyDomo">No Domos yet</h3>
      {{/if}}
    </div>
  </section>
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>