<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Reenactors Handbook</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body class="backgroundArt">
    <nav>
    {{#if account}}
      <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
          <a class="navbar-brand" href="/home">Reenactors Handbook</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/maker">My Kits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/changePass">Change Password</a>
          </li>
        </ul>
      </nav>
    {{else}}
      <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
          <a class="navbar-brand" href="/home">Reenactors Handbook</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item text-right">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item text-right">
            <a class="nav-link" href="/signup">Sign up</a>
          </li>
        </ul>
      </nav>
    {{/if}}
  </nav>
  <section id="kits" class="container bg-light mt-5">
      <div class="kit">
        {{#if kits}}
          {{#each kits}}
            <div class="kit">
                <div class="jumbotron jumbotron-fluid">
                  <h2 class="kitName display-4">Name: {{this.name}}</h2>
                  {{#if this.startTimePeriod}}
                  <h3>Time Period: {{this.startTimePeriod}} 
                  {{#if this.endTimePeriod}} - {{this.endTimePeriod}} {{/if}}</h3>{{/if}}
                </div>
              <div class="row">
                <div class="col-7">
                  {{#if this.image}}<img src={{this.image}} class="img-fluid" alt="My cool pic"></img>{{/if}}
                </div>
                <div class="col-5">
                  {{#if this.description}}<h5>Description: {{this.description}}</h5>{{/if}}
                </div>
              </div>
              <hr>
              <div class="kit-items-expand">
                {{#if this.kitItems}}
                <h3>Kit Items:</h3>
                  {{#each this.kitItems}}
                  <div class="row">
                    <div class="col-4">
                      {{#if this.image}}<img src={{this.image}} class="img-fluid" alt="My cool pic"></img>{{/if}}
                    </div>
                    <div class="col-8">
                      <h4>Item Name: {{this.name}}</h4>
                      {{#if this.price}}<h5>Item Price: ${{this.price}}</h5>{{/if}}
                      {{#if this.description}}<h5>Item Description: {{this.description}}</h5>{{/if}}
                      {{#if this.links}}
                      <h4>Links:</h4>
                        <ul>
                          {{#each this.links}}
                            <li><a href={{this}}>{{this}}</a></li>
                          {{/each}}
                        </ul>
                      {{/if}}
                    </div>
                  </div>
                  <hr>
                  {{/each}}         
                  {{else}}
                  <div class="row text-center">
                    <div class="col">
                      <h3>This Kit has no Items!</h3>
                    </div>
                  </div>
                  <hr>
                {{/if}}
              </div>
            </div>
            <hr class=""/>
          {{/each}}
        {{else}}
          <h3 class="emptyDomo">No Reenactment Kits yet</h3>
        {{/if}}
      </div>
    </section>
  <script src="/assets/bundle.js"></script>
</body>
</html>